<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Episodies
        </mat-panel-title>
        
    </mat-expansion-panel-header>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Episodie" #input>
      </mat-form-field>

      <div *ngIf="dataSource.data"  class="mat-elevation-z8">

       
          <table mat-table [dataSource]="dataSource" matSort class="">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row"  mat-sort-header>
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
            
              <!-- Position Column -->
              <ng-container matColumnDef="episode"  mat-sort-header>
                <th mat-header-cell *matHeaderCellDef> Episode </th>
                <td mat-cell *matCellDef="let element"> {{element.episode}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name"  mat-sort-header>
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="created"  mat-sort-header>
                <th mat-header-cell *matHeaderCellDef> Created </th>
                <td mat-cell *matCellDef="let element"> {{element.created}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="air_date"  mat-sort-header>
                <th mat-header-cell *matHeaderCellDef> Air_date </th>
                <td mat-cell *matCellDef="let element"> {{element.air_date}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selection.toggle(row)">
              </tr>
      
              <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
      
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <!-- <p>This is the primary content of the panel.</p> -->
    </mat-expansion-panel>

  </mat-accordion>
  